.daftardrama{
    font-size: 40px;
    font-color: blue;
    font-style: oblique;
}
#mytable{
    font-size: 19px;
    font-color:black;
}

body{
	background-image: url("img/bg.jpg");
	background-repeat: no-repeat;
  	background-size: cover;
}