.daftardrama{
    font-size: 38px;
    font-color: green;
    font-style: italic;
}
#mytable{
    font-size: 18px;
    font-color: blue;
}

body{
	background-image: url("img/bg.jpg");
	background-repeat: no-repeat;
  	background-size: cover;
}